@import "tailwindcss";
@plugin "daisyui" {
  themes: corporate --default, business --prefersdark;
}

body {
  min-height: 100vh;
}

.router-link-active.nav-link {
  background-color: var(--color-base-300);
}
